@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300&display=swap");
* {
	font-family: 'Barlow Semi Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
	font-size: 17px;
}
body {
	margin: 0px;
	background: url('./background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
input, button, a {
	border: 0px;
	outline: 0px
}